## Quiz

In [1]:
from bs4 import BeautifulSoup
import os
import pandas as pd

In [2]:
# List of dictionaries to build file by file and later convert to a DataFrame
df_list = []
folder = 'rt_html'
for movie_html in os.listdir(folder):
    with open(os.path.join(folder, movie_html)) as file:
        soup = BeautifulSoup(file, 'lxml')
        title = soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]
        audience_score = soup.find('div', class_='audience-score meter').find('span').contents[0][:-1]
        num_audience_ratings = soup.find('div', class_='audience-info hidden-xs superPageFontColor')
        num_audience_ratings = num_audience_ratings.find_all('div')[1].contents[2].strip().replace(',', '')

        # Append to list of dictionaries
        df_list.append({'title': title,
                        'audience_score': int(audience_score),
                        'number_of_audience_ratings': int(num_audience_ratings)})
df = pd.DataFrame(df_list, columns = ['title', 'audience_score', 'number_of_audience_ratings'])

In [3]:
df.head()

,title,audience_score,number_of_audience_ratings
0,Dr. Strangelove Or How I Learned to Stop Worry...,94,208215
1,Frankenstein (1931),87,41140
2,All About Eve (1950),94,44564
3,Roman Holiday (1953),94,62895
4,The Night of the Hunter (1955),90,24322

## Solution Test
Run the cell below the see if your solution is correct. If an `AssertionError` is thrown, your solution is incorrect. If no error is thrown, your solution is correct.

In [4]:
df.sort_values('title', inplace=True)
df.reset_index(inplace=True, drop=True)
df.head()

,title,audience_score,number_of_audience_ratings
0,12 Angry Men (Twelve Angry Men) (1957),97,103672
1,12 Years a Slave (2013),90,138789
2,A Hard Day's Night (1964),89,50067
3,A Streetcar Named Desire (1951),90,54761
4,Alien (1979),94,457186

In [5]:
df_solution = pd.read_pickle('html_df_solution.pkl')
df_solution.sort_values('title', inplace=True)
df_solution.reset_index(inplace=True, drop=True)
df_solution.head()

,title,audience_score,number_of_audience_ratings
0,12 Angry Men (Twelve Angry Men) (1957),97,103672
1,12 Years a Slave (2013),90,138789
2,A Hard Day's Night (1964),89,50067
3,A Streetcar Named Desire (1951),90,54761
4,Alien (1979),94,457186

In [6]:
pd.testing.assert_frame_equal(df, df_solution)