# Drawing Conclusions Quiz
Use the space below to explore `store_data.csv` to answer the quiz questions below.

In [1]:
# imports and load data
import pandas as pd

df = pd.read_csv('datasets/store_data.csv')

# explore data
df

           week  storeA  storeB  storeC  storeD  storeE
0    2014-05-04    2643    8257    3893    6231    1294
1    2014-05-11    6444    5736    5634    7092    2907
2    2014-05-18    9646    2552    4253    5447    4736
3    2014-05-25    5960   10740    8264    6063     949
4    2014-06-01    7412    7374    3208    3985    3023
..          ...     ...     ...     ...     ...     ...
195  2018-01-28     282    6351    7759    5558    1028
196  2018-02-04    4853    6503    4187    5956    1458
197  2018-02-11    9202    3677    4540    6186     243
198  2018-02-18    3512    7511    4151    5596    3501
199  2018-02-25    7560    6904    3569    5045    2585

[200 rows x 6 columns]

## 1. Which store has the highest total sales for the final month of data?

In [2]:
# total sales for the last month
df.iloc[-1, 1:]

storeA    7560
storeB    6904
storeC    3569
storeD    5045
storeE    2585
Name: 199, dtype: object

## 2. Which store makes the most sales on average?

In [3]:
# average sales
df.mean()

storeA    5865.480
storeB    6756.710
storeC    4942.105
storeD    5431.405
storeE    2580.025
dtype: float64

## 3. Which store sells the most during the week of March 13th, 2016?

In [4]:
# sales on march 13, 2016
df[df['week'] == '2016-03-13'].squeeze()

week      2016-03-13
storeA          2054
storeB          1390
storeC          5112
storeD          5513
storeE          2536
Name: 97, dtype: object

## 4. In what week does store C make its worst sales?

In [5]:
# worst week for store C
df[df['storeC'] == df['storeC'].min()]['week']

9    2014-07-06
Name: week, dtype: object

## 5. Which store has the most sales in the latest 3-month period?

In [6]:
# total sales during most recent 3 month period
last_three_months = df[df['week'] >= '2017-12-01']
most_sales = last_three_months.iloc[:, 1:].sum()
most_sales

storeA    87591
storeB    79394
storeC    66538
storeD    75190
storeE    27334
dtype: int64